:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

 
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  background-color: #242424;
  
}

.site {
  margin: 20px auto;
  max-width: 6000px;  /* max Breite für bessere Lesbarkeit */
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
}

.size > * {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

.fallback {
  color: orange;
  margin-bottom: 1em;
  width: 550px;
}

.pics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 15px;
  justify-content: center;
  justify-items: center;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.pic {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  background: #ad2424;
  transition: transform 0.2s;
}

.pic:hover {
  transform: scale(1.08);
}

.pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  aspect-ratio: 1 / 1;
}

label {
  font-size: 25px;
  display: block;       /* Label auf eigene Zeile */
  margin-bottom: 8px;   /* Abstand nach unten */
  font-weight: bold;    /* Fett, damit es besser auffällt */
  color: #df2020;
}

label input {
  font-size: 25px;
  padding: 6px 10px;   /* Innenabstand, damit Input nicht zu eng wirkt */
  margin-top: 4px;     /* kleiner Abstand zum Label-Text */
  border: 2px solid #ccc;
  border-radius: 5px;  /* abgerundete Ecken */
  width: 100%;         /* Input nimmt volle Breite ein */
  max-width: 300px;    /* maximale Breite */
  box-sizing: border-box; /* Padding und Border werden zur Gesamtbreite gerechnet */
  transition: border-color 0.3s ease;
  cursor:pointer;
}

label input:focus {
  border-color: #007bff;  /* Blauer Rahmen beim Fokussieren */
  outline: none;          /* Standard-Umrandung weg */
}

.nummerFeld {
  max-width: 80px;
}

.research {
  cursor: pointer;
  user-select: none;
  margin-bottom: 16px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.recentSearchesContainer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0 10px;
}

.recentSearchesContainer.expanded {
  max-height: 500px; 
  padding: 10px;
}

.recentSearchesContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
}

.recentSearchesContainer li {
  text-align: center;
  font-size: 18px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
