html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.site {
  margin: 80px auto;
  max-width: 1000px;  /* max Breite für bessere Lesbarkeit */
  text-align: center;
}

h1 {
  margin-top: 0;
  
}

.pics {
  display: flex;
  flex-wrap: wrap;        /* Zeilenumbruch */
  gap: 15px;              /* Abstand zwischen Bildern */
  justify-content: center; /* Zentriert die Bilder */
}

.pic {
  flex: 0 0 250px; /* Fixe Breite, nicht schrumpfen */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  background: #ad2424;
  transition: transform 0.2s;
}

.pic:hover {
  transform: scale(1.08);
}

.pic img {
  width: 100%;
  height: auto;
  display: block;
}

label {
  font-size: 25px;
  display: block;       /* Label auf eigene Zeile */
  margin-bottom: 8px;   /* Abstand nach unten */
  font-weight: bold;    /* Fett, damit es besser auffällt */
  color: #df2020;
}

label input {
  font-size: 25px;
  padding: 6px 10px;   /* Innenabstand, damit Input nicht zu eng wirkt */
  margin-top: 4px;     /* kleiner Abstand zum Label-Text */
  border: 2px solid #ccc;
  border-radius: 5px;  /* abgerundete Ecken */
  width: 100%;         /* Input nimmt volle Breite ein */
  max-width: 300px;    /* maximale Breite */
  box-sizing: border-box; /* Padding und Border werden zur Gesamtbreite gerechnet */
  transition: border-color 0.3s ease;
}

label input:focus {
  border-color: #007bff;  /* Blauer Rahmen beim Fokussieren */
  outline: none;       /*    Standard-Umrandung weg */
}

.nummerFeld {
  max-width: 80px
}

.research {
  cursor: pointer;
  user-select: none;
  margin-bottom: 16px;

}
.searchBox {
  margin-top: 5px;
  padding-left: 10px;
  color: grey
}